.group-view {
  .input-box {
    margin-top: 3px;
  }

  .message-list {
    .message {
      border-bottom: 1px solid #ddd;
      padding: 3px 5px;

      .username:after {
        content: ':';
        margin-right: 5px;
        font-weight: bold;
      }

      img {
        max-width: 100%;
      }

      time {
        float: right;
        color: #bbb;
      }

      .text {
        color: #555;
        word-wrap: break-word;

        p {
          margin: 5px 0;
        }

        pre, code {
          font-size: 12px;
          white-space: pre-wrap;
        }
      }
    }
  }
}