.message-list {
  .message {
    border-bottom: 1px solid #ddd;
    padding: 3px 5px;
  }

  .message .username:after {
    content: ':';
    margin-right: 5px;
    font-weight: bold;
  }

  .message time {
    float: right;
    color: #bbb;
  }

  .message .text {
    color: #555;
  }

  .message .text p {
    margin: 5px 0;
  }

  .message .text code {
    font-size: 12px;
  }
}
